body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#current-path {
    margin: 10px;
    font-weight: bold;
}

.directory {
    cursor: pointer;
    color: blue;
}

.file {
    color: black;
}
